<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            today,s list
        </h1>
    </div>

    <div class="box">
        <% for(var i=0; i< myListItems.length ; i++){ %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input type="checkbox" onchange=this.form.submit() name="checkedBox" value="<%=  myListItems[i]._id %>">
                    <p>
                        <%= myListItems[i].item %>
                    </p>
                </div>
            </form>
            
        <% } %>

                <form action="/" class="item" method="POST">
                    <input type="text" placeholder="New Item" name="newItem" autocomplete="off">
                    <button type="submit">+</button>
                </form>
    </div>
</body>

</html>